.addBudget{
    border-radius: 10px;
    width: 700px;
    height: 300px;
    background-color: white;
    box-shadow: 3.5px 3.5px 8px grey;
    display: flex;
    justify-content: center;
    align-items: first baseline;
}

.addBudget form {
    display: grid;
    width: 85%;
}

.addBudget label {
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: #3b82f6;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.addBudget label:hover {
    cursor: pointer;
}

.addBudget #textInput {
    height: 35px;
    width: 100%;
    border-color: steelblue;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    font-size: x-large;
}

.addBudget .buttonInput {
    margin-top: 15px;
    width: 100%;
    background-color: #6A5ACD;
    color: white;
    outline: 2px steelblue;
    border: none;
    height: 38px;
    text-transform: uppercase;

}

.addBudget .buttonInput:hover {
    cursor: pointer;
    background-color: #594DAB;
    transition: background-color 0.3s ease;
}

.addBudget p{
    color: brown;
    text-transform: uppercase;
}

@media (max-width: 730px) {
    .addBudget{
        width: 95%;
    }
}