.billsContainer {
    border-radius: 10px;
    width: 700px;
    height: 300px;
    background-color: white;
    box-shadow: 3.5px 3.5px 8px grey;
    display: flex;
    align-items: center;

}

#grafic{
    flex: 1;
}

@media (max-width: 730px) {
    .billsContainer {
        width: 95vw;
    }
}

@media (max-width: 487px) {
    .billsContainer {
        width: 90vw;
    }
}

@media (max-width: 335px) {
    .billsContainer {
        width: 85vw;
    }
}