.backgroundBanner{
    position: absolute;
    top: 0px;
    background-color: steelblue;
    height: 300px;
    width: 100%;
    z-index: -1;
}

.banner{
    display: grid;
    place-items: center;
    overflow-wrap: break-word;
}

.title{
    text-align: center;
    color: white;
}
