#billContainerData {
    width: 100%;
    margin-bottom: 25px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    /* margin-left: 15px; */
}

#billContainer {
    border-radius: 10px;
    width: 700px;
    background-color: white;
    margin: 0 auto;
    /* margin-right: 5px; */
    margin-bottom: 5px;

    box-shadow: 2.5px 2.5px 5px grey;
    display: grid;
    align-items: center;
    overflow-wrap: break-word;
}

#billContainer p {
    user-select: none;
}

#billContainer img {
    user-select: none;
    -webkit-user-drag: none;
}

#billContainerData .swipeable-list-item__content--return {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#billContainerData .swipeable-list-item__trailing-actions {
    background-color: crimson;
    align-items: center;
    color: white;
    font-size: xx-large;
    font-weight: normal;
}

#billContainerData h3 {
    width: 100%;
    text-align: center;
    font-weight: normal;
}

#billContainerData .swipeable-list-item__leading-actions {
    background-color: steelblue;
    align-items: center;
    color: white;
    font-size: xx-large;
    font-weight: normal;
}

#billContainer .billData {
    display: flex;
    /* overflow: hidden; */
    overflow-x: auto;
}

#billContainer .icon {
    width: 100px;
    height: 100px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#billContainer p {
    color: #21435f;
}

#billContainer .normalLabel {
    font-weight: normal;
    color: black;
}

#billContainer .nameLabel {
    font-size: large;
}

#billContainer .amount {
    padding-right: 50px;
    text-align: right;
    overflow-x: auto;
    flex: 1;
}

#billContainerData .swipeable-list-item {
    margin: 0 auto;
    width: 710px;
}

@media (max-width: 730px) {
    #billContainer {
        width: 100%;
        margin-right: 0px;
    }

    /* #billContainerData .swipeable-list-item__content--return{
        width: 95%;
        margin: 0px;
        padding: 0px;
    } */

    #billContainerData .swipeable-list-item {
        width: 95%;
        padding-right: 3px;
        /* margin: 0px; */
        /* padding: 0px; */
    }
}