#billsList {
    display: grid;
    justify-content: center;
}

#billsList .title {
    width: 700px;
    text-align: left;
    color: #21435f;
}

@media (max-width: 730px) {
    #billsList{
        display: flex;
        flex-wrap: wrap;
    }

    #billsList .title{
        width: 95%;
    }
}