.billsContainer {
    border-radius: 10px;
    width: 700px;
    height: 300px;
    background-color: white;
    box-shadow: 3.5px 3.5px 8px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.circularBarContainer {
    flex: 1;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.billsContainer .CircularProgressbar {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.billsContainer .CircularProgressbar .CircularProgressbar-text {
    font-size: x-small;
    fill: steelblue;
}

.billsContainer .CircularProgressbar .CircularProgressbar-path {
    stroke: steelblue;
}

#grafic {
    flex: 1;
    font-size: 75px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

@media (max-width: 730px) {
    .billsContainer {
        width: 95%;
    }
}

@media (max-width: 683px) {
    .billsContainer {
        display: grid;
        justify-content: center;
        width: 95%;
        height: auto;
    }

    #grafic {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 45px;
    }
}